<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Sevilla Turista</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>

  <p class="texto">
      Sevilla tiene una rica historia y cultura que se remonta a más de dosmil años.
      Desde la era pre-romana hasta la conquista musulmana y la era de los descubrimientos,
      la ciudad ha sido testigo de una gran cantidad de eventos históricos que han moldeado su carácter y
      personalidad.

  </p>

  <p class="texto">
      Tiene una mezcla única de estilos arquitectónicos que incluyen el romano, el mudéjar, el gótico y el
      barroco. Además de la Catedral y el Real Alcázar,
      Sevilla cuenta con otros muchos edificios históricos y monumentos que albergan impresionante
      diseño y decoración.
  </p>


  <div class="conoce">
      <h1>Conoce la ciudad</h1>
  </div>


  <div style="margin-top: -1%;" class="scrolling-wrapper">
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-card-title color="primary">Patrimonio de la humanidad</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>Sevilla cuenta con tres monumentos declarados
                  <p>Patrimonio
                      de la Humanidad por la Unesco desde </p>
                  <p>1987: la Catedral, el Real Alcázar y el Archivo de Indias.</p>
                  <br>
              </ion-card-content>
          </ion-card>
      </div>
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-title color="primary">Enclave histórico</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>Conquistada por los árabes en el siglo VIII se convirtió</p>
                  <p>en una de las ciudades más importantes del mundo musulmán.</p>
                  <p>Durante la Edad de Oro española, Sevilla fue un importante</p>
                  <p>centro de comercio y exploración.</p>
              </ion-card-content>
          </ion-card>
      </div>
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-title color="primary">Riqueza cultural</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>Sevilla fue un importante centro religioso durante la Edad Media</p>
                  <p>y el Renacimiento, reflejado esto en su impresionante patrimonio </p>
                  <p>arquitectónico y obras de arte. Ofrece una experiencia única y</p>
                  <p> emocionante para los visitantes interesados en explorar sus raíces culturales.</p>
              </ion-card-content>
          </ion-card>
      </div>
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-title color="primary">Cuna del flamenco</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p> Una de las características más destacadas de la cultura sevillana</p>
                  <p>es su amor por la música y la danza, especialmente el flamenco.</p>
                  <p>Sevilla es considerada una de las cunas del flamenco, y los visitantes pueden</p>
                  <p>disfrutar de espectáculos en tablaos y en festivales como la Bienal de Flamenco de Sevilla.</p>
              </ion-card-content>
          </ion-card>
      </div>
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-title color="primary">Patrimonio gastronómico</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>Sevilla es una ciudad que ofrece una deliciosa experiencia </p>
                  <p>gastronómica con una rica tradición en la cocina andaluza, </p>
                  <p>una amplia variedad de tapas y bebidas locales para probar, </p>
                  <p>y una cultura culinaria que vale la pena explorar. </p>
              </ion-card-content>
          </ion-card>
      </div>
      <div class="card">
          <ion-card>
              <ion-card-header>
                  <ion-card-title color="primary">Capital de Andalucía</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <p>Sevilla es el centro político, cultural y económico de</p> 
                  <p>la región. Además de ser la ciudad más grande</p> 
                  <p>de Andalucía, es también una de las más antiguas.</p>
                  <br>
              </ion-card-content>
          </ion-card>
      </div>

  </div>

  <ion-button class="boton" expand="block" href="/rutas" color="tertiary">
      ¿Nos damos una vuelta?
  </ion-button>

</ion-content>


