<app-header titulo="Rutas"></app-header>


<ion-content mode="ios">

    <p>Aquí comienza tu andadura</p>

    <ion-card href="/ruta1">
        <ion-img src="../../../assets/images/rutas/sevilla-medieval.jpg"></ion-img>

        <ion-card-header>
            <ion-card-subtitle style="font-size: large;" color="success">Una historia de Sevilla</ion-card-subtitle>
        </ion-card-header>

    </ion-card>
    <ion-card href="/ruta2">
        <ion-img src="../../../assets/images/rutas/metropol_parasol_sevilla_s_402221245.jpg"></ion-img>

        <ion-card-header>
            <ion-card-subtitle style="font-size: large;" color="success">Un viaje por el casco histórico</ion-card-subtitle>
        </ion-card-header>

    </ion-card>
    <ion-card href="/ruta3">
        <ion-img src="../../../assets/images/rutas/macarena.jpg"></ion-img>

        <ion-card-header>
            <ion-card-subtitle style="font-size: large;" color="success">La Macarena</ion-card-subtitle>
        </ion-card-header>

    </ion-card>
    <ion-card href="/ruta4">
        <ion-img src="../../../assets/images/rutas/barrio-triana-sevilla-e1509380303751.jpg"></ion-img>

        <ion-card-header>
            <ion-card-subtitle style="font-size: large;" color="success">Triana</ion-card-subtitle>
        </ion-card-header>

    </ion-card>



</ion-content>
